OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4.1-mini
OPENALEX_API_KEY=r2PX1sOoCtICvXFZ3morIk
OPENALEX_MAILTO=ahmedaithadj20@gmail.com
LANGSMITH_API_KEY=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
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=scholar-research-agent
